@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --base-100: #ffffff;
    --base-200: rgba(255, 144, 14, 0.1);
    --base-content: rgb(19, 19, 19);
    --base-content-secondary: rgb(114, 114, 114);
    --primary: rgb(255, 144, 14);
    --primary-content: #ffffff;
}

/* body styles */
body {
    font-family: "Work Sans", sans-serif;
}
