@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --base-100: #ffffff;
    --base-200: rgba(255, 144, 14, 0.1);
    --base-content: rgb(19, 19, 19);
    --base-content-secondary: rgb(114, 114, 114);
    --primary: rgb(255, 144, 14);
    --primary-content: #ffffff;
    --dark-2: rgb(66, 66, 66);
}

/* shared styles */
.title {
    color: var(--base-content);
    font-size: 45px;
    font-weight: 700;
    line-height: 53px;
}

.description {
    color: var(--base-content-secondary);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.primary-btn {
    padding: 20px 25px;
    border: none;
    border-radius: 8px;
    color: var(--primary-content);
    background-color: var(--primary);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    cursor: pointer;
}

/* body styles */
body {
    font-family: "Work Sans", sans-serif;
}

/* header styles */
header {
    background-color: var(--base-200);
    padding: 3rem 1rem;
}

/* navbar styles */
.navbar {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-name {
    color: var(--base-content);
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 53px;
}

.nav-pages-links {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.nav-page-link {
    text-decoration: none;
    color: var(--dark-2);
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
}

/* banner styles */
.banner {
    max-width: 1440px;
    margin: 100px auto 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-content {
    max-width: 862px;
    text-align: center;
    margin: 0 0 50px;
}

.tagline {
    width: 100%;
    color: var(--base-content);
    font-size: 4rem;
    font-weight: 700;
    line-height: 75px;

}

.banner-content .description {
    margin: 32px 0;
}

.banner img {
    width: 100%;
}

/* header mobile and tablet screen styles */
@media screen and (max-width: 992px) {
    .navbar {
        flex-direction: column;
        gap: .5rem;
    }

    .nav-pages-links {
        flex-flow: row wrap;
    }

    .banner {
        margin: 60px auto 0;
    }

    .banner img {
        height: 300px;
    }

    .tagline {
        font-size: 3rem;
        line-height: 1;
    }

    .text-break {
        display: none;
    }
}

/* main styles */
main {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 1rem;
}

/* features section styles */
.features {
    margin: 85px 0 0;
    display: flex;
    justify-content: center;
}

.features-parent {
    display: flex;
    align-items: center;
    gap: 73px;
}

.features-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.features img {
    width: 100%;
}

.features-content {
    max-width: 537px;
}

#quick-list-text {
    color: var(--base-content-secondary);
}

#features-text {
    color: var(--primary);
}

.features-content .description {
    margin: 1.5rem 0 2rem;
}

/* features section mobile and tablet devices styles */
@media screen and (max-width: 992px) {

    .features-img-container {
        /* grid-template-columns: repeat(2, 1fr); */
        gap: 1rem;
    }

    .features-parent {
        flex-direction: column-reverse;
        align-items: stretch;
    }
}

/* features list styles */
.features-list {
    margin: 130px 0 0;
    display: flex;
    align-items: center;
    gap: 54px;
}

.features-list-first-column {
    max-width: 586px;
}

.title-container {
    max-width: 468px;
    border-left: 5px solid var(--primary);
    padding: 0 0 0 1.5rem;
}

.features-list-first-column .description {
    margin: 1.5rem 0 2rem;
}

.feature-list-card {
    max-width: 586px;
    padding: 2rem;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.features-list-cards {
    display: grid;
    gap: 1.25rem;
}

.card-title {
    color: var(--base-content);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
}

.card-description {
    color: var(--base-content-secondary);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: .625rem 0 0;
}

.features-list-second-column {
    max-width: 708px;
    height: 1059px;
    padding: 0 0 77px 92px;
    position: relative;
}

.features-list-second-column img {
    width: 100%;
    height: 982px;
}

.experience-card {
    max-width: 342px;
    padding: 42px 45px;
    background-color: var(--primary);
    border: none;
    border-radius: .5rem;
    position: absolute;
    left: 0;
    bottom: 0;
}

.experience-card-title {
    font-size: 4rem;
    font-weight: 700;
    line-height: 70px;
    color: var(--primary-content);
    text-align: center;
}

.experience-card-description {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 40px;
    color: var(--primary-content);
    text-align: center;
}

/* features list section mobile devices styles */
@media screen and (max-width: 992px) {
    .features-list {
        flex-direction: column;
    }

    .features-list-second-column {
        padding: 0 0 2rem 2rem;
        height: auto;
    }

    .features-list-second-column img {
        height: auto;
    }

    .experience-card-title {
        font-size: 2.5rem;
        line-height: 50px;
    }

}

/* facts section styles */
.facts-container {
    margin: 130px 0 0;
}


.facts-content {
    max-width: 542px;
}

.facts-content .description {
    margin: 1.5rem 0 0;
}

.facts-cards {
    margin: 100px 0 0;
    display: grid;
    grid-template-columns: repeat(4, 241px);
    justify-content: space-around;
}

.facts-card {
    height: 241px;
    border: 1px solid var(--primary);
    border-radius: .5rem;
    background-color: var(--base-100);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.facts-card-title {
    color: var(--base-content);
    font-size: 45px;
    font-weight: 600;
    line-height: 53px;
}

.facts-card-description {
    color: var(--base-content-secondary);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
}

/* facts section tablet styles */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .facts-cards {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        gap: 1.5rem;
        margin: 80px 2rem 0;
    }
}

/* facts section mobile styles */ 
@media screen and (max-width: 576px) {
    .facts-cards {
        grid-template-columns: repeat(1, 1fr);
        gap: 1.5rem;
        margin: 70px 0 0;
    }
}

/* sponsors section styles */
.sponsors {
    margin: 130px 0 130px;
}

.sponsors-content {
    max-width: 542px;
    margin: 0 auto 50px;
    text-align: center;
}

.sponsors-content .description {
    margin: 1.5rem 0 0;
}

.sponsor-companies {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sponsor-companies img {
    filter: grayscale(1);
}

/* sponsors section tablet devices styles */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .sponsor-companies {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }
}

/* sponsors section mobile devices styles */
@media screen and (max-width: 576px) {
    .sponsor-companies {
        display: grid;
        grid-template-columns: repeat(1, 150px);
        justify-content: center;
        gap: 1.5rem;
    }

    .sponsor-companies img {
        width: 100%;
    }
}